#story li {
    display: inline-block;
}

#story li > a {
	margin: 10px;
    padding: 5px;
    background-color: darkgrey;
    box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
    border: solid 2px #41403E;
    color: #41403E;
    text-decoration: none;
}

.passage {
    padding: 0 2rem;
}

.passage ol, .passage ul {
    margin-left: 0px;
    padding-left: 0px;
}

#ui-bar.stowed~#story {
    margin-left: 0;
}

#story {
    margin-left: 0;
    position: absolute;
    bottom: 10px;
    height: 280px;
    overflow-y: auto;
    width: 100%;
}

body {
    background-image: url("img/arturo-mockup.png");
    background-size: cover;
}

#passages {
    background-color: navy;
    padding: 1rem 0px;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
    border: solid 7px #41403E;
}

/* small */
@media screen and (max-width: 1400px) {
    #passages {
        width: 800px;
    }
}
/* even smaller */
@media screen and (max-width: 1136px) {
    #ui-bar.stowed~#story {
        margin-left: 0;
    }

    #passages {
        width: 100%;
    }
}

#ui-bar {
    -webkit-transition: left .2s ease-in;
    -o-transition: left .2s ease-in;
    transition: all .2s ease-in;
}

#ui-bar.stowed {
    background-color: transparent;
    border-color: transparent;
}

#ui-bar.stowed #ui-bar-toggle {
    border: 1px solid #444;
    background-color: #444;
}

