#story li {
    display: inline-block;
	margin: 10px;
    padding: 5px;
    background-color: darkgrey;
}

#story li > a {
    color: black;
    text-decoration: none;
}

#story {
    position: absolute;
    bottom: 10px;
    height: 280px;
    overflow-y: auto;
}

body {
    background-image: url("img/arturo-mockup.png");
    background-size: cover;
}